@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@model List<Alone_Revisal.Models.Angajat>
@inject UserManager<Utilizator> UseruManager

@{
    ViewData["Title"] = "Angajati activi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Anagajati activi</div>
    <div class="panel-body">
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Nume</th>
                    <th>Prenume</th>
                    <th>CNP</th>
                    <th>Actiuni</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td>@Model[i].Nume</td>
                        <td>@Model[i].Prenume</td>
                        <td>@Model[i].CNP</td>
                        <td>
                            <a id="userDetails" data-toggle="modal" asp-route-id="@Model[i].CNP"
                               class="btn btn-info">
                                <i class="glyphicon glyphicon-user"></i>  Detalii Angajat
                            </a>
                            @if (UseruManager.Users.FirstOrDefault(s => s.CNP == Model[i].CNP) == null)
                            {
                                <a id="createEditUserModal" data-toggle="modal" asp-controller="User" asp-action="AddUser" asp-route-id="@Model[i].CNP" data-target="#modal-action-user" class="btn btn-info">
                                    <i class="glyphicon glyphicon-plus-sign"></i>  Adaugare user
                                </a>
                            }
                            else
                            {
                                <a id="updatePassword" data-toggle="modal" asp-route-id="@Model[i].CNP" class="btn btn-info">
                                    <i class="glyphicon glyphicon-plus-sign"></i>  Update password
                                </a>
                            }
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-user", AreaLabeledId = "modal-action-user-label", Size = ModalSize.Medium })

@section scripts
    {
    @*<script src="~/js/user-index.js" asp-append-version="true"></script>*@
    <script type="text/javascript">
        $(function () {
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-action-user');
                $(this).attr('data-toggle', 'modal');
            });
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-action-user').modal('hide');
            });
            //clear cache
            $('#modal-action-user').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
            $('#CancelModal').on('click', function () {
                $('#modal-action-user').on('hidden.bs.modal', function () {
                    $(this).removeData('bs.modal');
                });
                return false;
            });
            $.validator.unobtrusive.parse("#newuser");
        });
    </script>
}