@model IEnumerable<Alone_Revisal.Models.Angajat>

@{
    ViewData["Title"] = "Angajati activi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Anagajati activi</div>
    <div class="panel-body">
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Nume</th>
                    <th>Prenume</th>
                    <th>CNP</th>
                    <th>Actiuni</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nume</td>
                        <td>@item.Prenume</td>
                        <td>@item.CNP</td>
                        <td>
                            <a id="addEditApplicationRoleModal" data-toggle="modal" asp-action="AddEditApplicationRole" asp-route-id="@item.CNP" data-target="#modal-action-application-role"
                               class="btn btn-info">
                                <i class="glyphicon glyphicon-pencil"></i>  Editeaza
                            </a>
                            <a id="deleteApplicationRoleModal" data-toggle="modal" asp-action="DeleteApplicationRole" asp-route-id="@item.CNP" data-target="#modal-action-application-role" class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>  Sterge
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

