@model IEnumerable<Alone_Revisal.Models.Pontaj>

@{
    ViewData["Title"] = "Pontaj";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pontaj</h2>

<h4>Salariat</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Pontaj" asp-controller="Home"  method="post" role="form">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table>
                <thead>
                    <tr>
                        <th><div class="form-group"><h4>Nume</h4></div></th>
                        <th><div class="form-group"><h4>Prenume</h4></div></th>
                        <th><div class="form-group"><h4>Prezent</h4></div></th>
                        <th><div class="form-group"><h4>Absent</h4></div></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> <input asp-for="@item.Nume" class="form-control"  />  <span asp-validation-for="@item.Nume" class="text-danger"></span></td>
                            <td> <input asp-for="@item.Prenume" class="form-control" /> <span asp-validation-for="@item.Prenume" class="text-danger"></span></td>
                            <td> <input type="checkbox" asp-for="@item.Prezenta" class="form-control" /> <span asp-validation-for="@item.Prezenta" class="text-danger"></span><input type="hidden" asp-for="@item.CNP" /></td>
                        </tr>
                    }
                </tbody>
            </table>            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

